<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Success - RuthwickHub</title>
    <link rel="stylesheet" href="/css/success.css"> <!-- Link to external CSS file -->
</head>
<body>
    <div class="container">
        <h1 class="animate__animated animate__fadeIn">Success! You've Signed Up 🎉</h1>
        <p class="animate__animated animate__fadeIn">Welcome to RuthwickHub! <%= username %> Your journey to the coolest chat system begins here.</p>
        
        <p class="flirty-line animate__animated animate__fadeIn">We promise our chat feature will be as smooth as your first message 😉.</p>
        <p class="flirty-line animate__animated animate__fadeIn">Get ready to send those messages, because someone's waiting on the other side... 👀</p>
        
        <p class="animate__animated animate__fadeIn">Now that you're all set up, please <a href="/login" class="login-link">login</a> to our services and start chatting with the world!</p>
    </div>
</body>
</html>
-